---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import PhotoPost from '../components/PhotoPost.astro';
import Pagination from '../components/Pagination.astro';
import type { GetStaticPaths, Page } from 'astro';
import BlogPost from '../components/BlogPost.astro';

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const photos = await getCollection('photos');
  const posts = await getCollection('blog');
  
  const allContent = [...photos, ...posts].sort((a, b) => 
    b.data.date.getTime() - a.data.date.getTime()
  );

  return paginate(allContent, { pageSize: 5 });
}

interface Props {
  page: Page<any>;
}
const { page } = Astro.props as Props;
---

<Layout title="Astro Photo Blog">
  <main class="max-w-3xl mx-auto px-4">
    {page.data.map(entry => {
      if (entry.collection === 'photos') {
        return (
          <PhotoPost
            image={entry.data.image}
            attribution={entry.data.attribution}
            tags={entry.data.tags}
            date={entry.data.date}
          />
        );
      } else {
        return (
          <BlogPost
            title={entry.data.title}
            slug={entry.slug}
            tags={entry.data.tags}
            date={entry.data.date}
          />
        );
      }
    })}

    <Pagination
      currentPage={page.currentPage}
      totalPages={page.lastPage}
      baseUrl="/"
    />
  </main>
</Layout>